@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@300;400&family=Zilla+Slab:wght@300;400&display=swap");

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h3,
h5 {
    font-family: "Zilla Slab", serif;
}

h2,
h4,
h6 {
    font-family: "Merriweather", serif;
}

a {
    text-decoration: none;
    background: linear-gradient(to left, #FFCD00 50%, #000000 50%) right;
    transition: 0.2s ease-out;
    background-size: 200% 100%;
    color: #000000;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px solid #000000;
}

a:hover {
    background-position: left;
}

a:hover {
    color: #FFCD00;
}

.main-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    background-color: #FFCD00;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.main-header img {
    height: 100px;
}

.main-header h1 {
    font-size: 1.2em;
    vertical-align: middle;
    align-content: center;
}

.main-header h1 em {
    font-weight: lighter;
    font-size:
}

.main-footer {
    background-color: #444444;
    color: white;
    position: sticky;
    bottom: 0px;
    z-index: 999;
    text-align: center;
    height: 50px;
    align-content: center;
}

body {
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    color: black;
    width: 100%;
  }

table thead {
    background-color: #FEEEC1;
    color: black;
}

.criteria-red {
    background-color: #C00A35;
    color: white;
}

.criteria-yellow {
    background-color: #FFCD00;
    color: black;
}

.criteria-green {
    background-color: #24A793;
    color: black;
}

.dataTables_length,
.dataTables_filter {
    padding: .5em;
}

table tfoot th{
    font-weight: lighter !important;
    text-align: center;
    background-color: #444444;
    color: white;
}