{% macro render_header(title, subtitle) %}
<header class="main-header">
    <img src="img/uu-rgb-black.png" alt="logo" class="logo">
    <main>
        <h1>{{ title }}</h1>
    </main>
    <aside></aside>
</header>
{% endmacro %}

{% macro render_table_row(repo) %}
<tr>
    <td><a href="{{repo.url}}" target="_blank">{{ repo.name }}</a></td>
    <td class="criteria-{{repo.archived_check.1}}">{{repo.archived_check.0}}</td>
    <td class="criteria-{{repo.fork_check.1}}">{{repo.fork_check.0}}</td>
    <td class="criteria-{{repo.visibility_check.1}}">{{repo.visibility_check.0}}</td>
    <td class="criteria-{{repo.license_check.1}}">{{repo.license_check.0}}</td>
    <td class="criteria-{{repo.topics_check.1}}">{{repo.topics_check.0}}</td>
    <td class="criteria-{{repo.description_check.1}}">{{repo.description_check.0}}</td>
    <td class="criteria-{{repo.last_update_check.1}}" data-order="{{repo.last_update_days}}">
        {{repo.last_update_check.0}}</td>
</tr>
{% endmacro %}

{% macro render_table(repos) %}
<table id="fair-table">
    <thead>
        <tr>
            <th>Repository</th>
            <th>Archived</th>
            <th>Fork</th>
            <th>Visibility</th>
            <th>License</th>
            <th>Topics</th>
            <th>Has description</th>
            <th>Last Update</th>
        </tr>
    </thead>
    <tbody>
        {% for repo in repos %}
        {{ render_table_row(repo) }}
        {% endfor %}
    </tbody>
</table>
{% endmacro %}
