{% import "macros.jinja2" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <link
        href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.6/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/fh-3.4.0/r-2.5.0/datatables.min.css"
        rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <script
        src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.6/b-2.4.1/b-colvis-2.4.1/b-html5-2.4.1/b-print-2.4.1/fh-3.4.0/r-2.5.0/datatables.min.js"></script>
    <title>FAIR Dashboard | Centre for Digital Humanities</title>

</head>

<body>
    <section id="simple-grid-page">
        {{ macros.render_header("Centre for Digital Humanities", "FAIR Dashboard") }}
        {{ macros.render_table(repos) }}

    </section>

</body>

</html>

<script>
    new DataTable('#fair-table', {
        pageLength: 50
    });
</script>
