{% import "macros.jinja2" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Is it fair?</title>

</head>

<body>
    <section id="simple-grid-page">
        {{ macros.render_header("Fair well", "or whatever") }}
        {{ macros.render_table(repos) }}
    </section>

</body>

</html>